<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    style
        include ../static/cert.css
</head>

<body>
    <section class="text-gray-700 body-font">
        <div class="sign">
            <div class="row computerContainer">
                <div id="handpofcomputing" class="col-lg-6">
                    <h1 class="word">1. 5G and Computing</h1>
                    <!-- <p>Details about heading</p> -->
                </div>
                <div class="col-lg-6">
                    <img class="imagesSizeAndWidth" src="../static/cert-images/5gandcomputing_bsa.png" alt="certimage">
                </div>
            </div>
        </div>
    </section>
        
    <section class="text-gray-700 body-font">
        <div class="sign">
            <div class="row computerContainer">
                <div id="handpofcomputing" class="col-lg-6">
                    <h1 class="word">2. StatisticsBeyond-DiceAndBalls</h1>
                    <!-- <p>Details about heading</p> -->
                </div>
                <div class="col-lg-6">
                    <img class="imagesSizeAndWidth" src="../static/cert-images/StatisticsBeyond-DiceAndBalls(BSA).png" alt="certimage">
                </div>
            </div>
        </div>
    </section>

    
    <section class="text-gray-700 body-font">
        <div class="sign">
            <div class="row computerContainer">
                <div id="handpofcomputing" class="col-lg-6">
                    <h1 class="word">3. Chemistry Quiz</h1>
                    <!-- <p>Details about heading</p> -->
                </div>
                <div class="col-lg-6">
                    <img class="imagesSizeAndWidth" src="../static/cert-images/OnlineChemistryQuizCertificate.png" alt="certimage">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <a class="link" href="../views/other_cert.pug">Go To Other-certificates Page &rarr;</a>
    </footer>
</body>

</html>