body {
    background-color: rgb(241, 250, 252);
    
}

#logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}  


    /* Header Section */


  /* Footer Section */
  
  .container-fluid {
      text-align: center;
      align-items: center;
  }
  .social-icon {
    margin: 20px 10px;
  }
  
  .fa-github {
    margin-bottom: 19px;
    margin-right: 6px;
  }
  @media (max-width: 1028px) {
    /* we use media to make the website more responsive
    In this example the site will be responsible with below code at a max width of 1070px; */
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }
  